<div class="container-fluid p-4">
    <div class="row">
        <div class="col-md-4">
            {{> products/productForm}}
        </div>
        <div class="col-md-8">
            {{> products/productTable}}
        </div>
    </div>
</div>
