<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            {{> clients/clientForm}}
        </div>
        <div class="col-md-8">
            {{> clients/clientTable}}
        </div>
    </div>
</div>