<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Bienvenido a GANADERIA EL ROSARIO!</h1>
  <p class="lead">Aplicativo web sencillo para gestionar la recepcion y venta del ganado dentro del Negocio</p>
  <hr class="my-4" />
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signin"
      role="button"
    >Ingresar</a>
  </div>
</div>