<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Sitio Web de un Negocio!</h1>
  <p class="lead">Un sitio sencillo para gestionar productos, proveedores y clientes de un Negocio</p>
  <hr class="my-4" />
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registrarse</a>
  </div>
</div>