body {
  background: #5d6d7e;
  margin: 0;
}

.logo {
  width: 45%;
}

.bg-black {
  background: #090909;
}

main {
  padding: 10px;
}

.carousel-inner .carousel-item img {
  width: 100%; /* Hace que las imágenes ocupen todo el ancho del contenedor */
  height: 400px; /* Ajusta la altura de las imágenes, puedes modificar este valor según sea necesario */
  object-fit: cover; /* Asegura que las imágenes se recorten proporcionalmente si es necesario para llenar el contenedor */
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

#carouselExampleIndicators {
  flex: 1;
  max-width: 75%;
}

.info-section {
  flex: 1;
  max-width: 25%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  #carouselExampleIndicators,
  .info-section {
    max-width: 100%;
  }
}
